.header-container {
  background-color: #FFD700; /* Fondo amarillo personalizado */
  padding: 10px 0;
  border-bottom: 2px solid #333; /* Línea en la parte inferior */
}

.p-menubar {
  background-color: transparent;
  border: none;
  box-shadow: none; /* Sin sombras */
}

.p-menubar .p-menuitem-text {
  color: #333; /* Color del texto del menú */
  font-weight: 600;
}

.p-menubar .pi {
  font-size: 1.2em;
}
